[D-BUS Service]
Name=com.example.ReceiveDeniedByAppArmorLabel
Exec=/bin/false ReceiveDeniedByAppArmorLabel
SystemdService=dbus-com.example.ReceiveDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/root/Shell-main/LFS-Shell/dbus-1.14.10/test/test-apparmor-activation//com.example.ReceiveDeniedByAppArmorLabel
