[D-BUS Service]
Name=com.example.SendDeniedByAppArmorLabel
Exec=/bin/false SendDeniedByAppArmorLabel
SystemdService=dbus-com.example.SendDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/root/Shell-main/LFS-Shell/dbus-1.14.10/test/test-apparmor-activation//com.example.SendDeniedByAppArmorLabel
