[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/root/Shell-main/LFS-Shell/dbus-1.14.10/test/test-shell-service "this should 'fail' because of an unterminated quote
User=anyrandomuser

