[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/root/Shell-main/LFS-Shell/dbus-1.14.10/test/test-shell-service -test "that" 'we get' back --what "we put in"

