[D-BUS Service]
Name=org.freedesktop.DBus.TestSuitePythonService
Exec=/bin/bash -c "/usr/bin/python3 /root/Shell-main/LFS-Shell/dbus-python-1.3.2/test/test-service.py"
